@{
  Layout = "_Layout";
}

<h1>This order has been Deleted</h1>

<form action="/vendors" method="get">
  <button type="submit" class="btn btn-success" id="btn1">LIST OF CLIENT ORDERS</button>
</form>