@{
  Layout = "_Layout";
}

<h1>Add order details to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders/" method="post">
  <input type="hidden" value="@Model.Id" name="vendorId" id="vendorId">

  <label for="orderDetails">Details of Purchase:</label>
  <input type="text" name="orderDetails" id="orderDetails" required>
<br>
  <label for="price">Price of Purchase:</label>
  <input type="number" min="1" name="price" id="price" required>
<br>
  <label for="date">Date of Purchase:</label>
  <input type="date" name="date" id="date" required>

  <button type="submit" class="btn btn-success" id="btn1">ADD INFORMATION</button>
</form>