@{
  Layout = "_Layout";
}

<h1>Add new client to @Model.Name database</h1>
<br>
<form action="/vendors/@Model.Id/orders" method="post">
<input type="hidden" value="@Model.Id" name="vendorId" id="vendorId">
<br>
<label for="orderDetails">Client Name</label>
<br>
<input type="text" name="orderDetails" id="orderDetails">
<br>
<button type="submit">ADD CLIENT</button>
</form>