@{
  Layout = "_Layout";
}

<h1>HOME</h1>
<br>
<p>Welcome back Pierre!</p>
<br>
<form action="/vendors" method="get">
<label for="view">View Your Records Pierre?</label>
<button class="btn btn-success" type="submit">Months of Orders</button>
</form>
<br>
<form action="/vendors/new" method="get">
<label for="add">Add a new Month?</label>
<button class="btn btn-success" type="submit">Add Month</button>
</form>