@{
  Layout = "_Layout";
}

<h1>HOME</h1>
<br>
<h3>Pierre's It Takes Two</h3>
<br>
<p>Welcome back Pierre!</p>
<br>
<form action="/vendors" method="get">
<button class="btn btn-success" type="submit">Customers</button>
</form>
<br>
<form action="/vendors/new" method="get">
<button class="btn btn-success" type="submit">Add Customer</button>
</form>