@{
  Layout = "_Layout";
}

<h1>HOME</h1>
<br>
<p><strong>Welcome Back Pierre</strong></p>
<br>
<p><em>What would you like to do today?</em></p>
<br>
<form action="/vendors" method="get">
  <button type="submit" class="btn btn-success">List of Clients</button>
</form>
<br>
<form action="/vendors/new" method="get">
  <button type="submit" class="btn btn-success">Add a Client</button>
</form>