@{
  Layout = "_Layout";
}

<h1>HOME</h1>

<p><strong>Welcome Back Pierre</strong></p>

<p><em>What would you like to do today?</em></p>

<form action="/vendors" method="get">
  <button type="submit" class="btn btn-success">List of Clients</button>
</form>

<form action="/vendors/new" method="get">
  <button type="submit" class="btn btn-success">Add a Client</button>
</form>