@{
  Layout = "_Layout";
}

<h1>HOME</h1>
<br>
<h3>Pierre's It Takes Two</h3>
<br>
<p>Welcome back Pierre!</p>
<br>
<button href="/customers" class="btn btn-success" type="button">Customers</button>
<br>
<button href="/customers/new" class="btn btn-success" type="button">Add Customer</button>