@{
  Layout = "_Layout";
}

@using BakeryStatistics.Models;

<h1>Months of Operation</h1>

@if (@Model.Count == 0)
{
  <h3>There are no dates in your Database!</h3>
} 

@foreach (Vendor vendor in Model)
{
  <h3><a href='/vendors/@vendor.Id'>@vendor.Month</a></h3>
}

<br>
<form action='/' method="get">
<button class="btn btn success" type="submit">HOME</button>
</form>