@{
  Layout = "_Layout";
}

<h1>Add a new Client</h1>
<p>Please enter your Client below.</p>

<form action="/vendors" method="post">
  <label for="vendorName">Client Name: </label>
  <input type="text" name="vendorName" id="vendorName">
  <button type="submit" class="btn btn-success">ADD</button>
</form>

<p><a href="/">HOME</a></p>
<p><a href="/vendors">DATABASE</a></p>