@{
  Layout = "_Layout";
}

<h1>Add a new Month</h1>
<p>Please enter your date below.</p>
<br>
<form action="/vendors" method="post">
<label for="month">Date of Operation: </label>
<br>
<input type="text" name="month" id="month">
<br>
<br>
<button type="submit" class="btn btn-success">ADD</button>
</form>
<br>
<br>
<form action="/" method="get">
<button type="submit" class="btn btn-success">HOME</button>
</form>
<br>
<br>
<form action="/customers" method="get">
<button type="submit" class="btn btn-success">DATABASE</button>
</form>