@{
  Layout = "_Layout";
}

<h1>Add a new Customer</h1>
<p>Pierre please enter your customer details below</p>
<br>
<form action="/vendors" method="post">
<label for="customerName">Customer's Name</label>
<br>
<input type="text" name="customerName" id="customerName">
<br>
<br>
<button type="submit" class="btn btn-success">ADD</button>
</form>
<br>
<br>
<form action="/" method="get">
<button type="submit" class="btn btn-success">HOME</button>
</form>
<br>
<br>
<form action="/customers" method="get">
<button type="submit" class="btn btn-success">CUSTOMER DATABASE</button>
</form>