@{
  Layout = "_Layout";
}

<h1>Add a new Client</h1>
<br>
<br>
<p>Pierre, please enter your Client's name below.</p>
<br>
<form action="/vendors" method="post">
  <label for="vendorName">Name: </label>
  <input type="text" name="vendorName" id="vendorName">
  <button type="submit" class="btn btn-success">ADD</button>
</form>
<br>
<form action="/" method="get">
  <button type="submit" class="btn btn-success">HOME</button>
</form>
<br>
<form action="/vendors" method="get">
  <button type="submit" class="btn btn-success">List of Clients</button>
</form>