@{
  Layout = "_Layout";
}

@using BakeryStatistics.Models;

<h3>Client Order Details:</h3>

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>Date: @order.Month - @order.Day - @order.Year</a></li>
  }
</ol>

<form action='/vendors/@Model["vendor"].Id/orders/new' method="get">
  <button type="submit">ADD ORDER DETAILS</button>
</form>

<form action="/vendors" method="get">
  <button type="submit">List of Clients</button>
</form>

<form action="/" method="get">
  <button type="submit">HOME</button>
</form>